<div class="container">
  <div class="holder">
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>
    <div class="header">
      <div class="header-holder">
        <div class="header-left disable-select" (click)="navigateTo('signin')">
          <div class="header-left-text disable-select">&#x226A;</div>
        </div>
        <div class="header-center">
          <div class="header-message">SIGN OFF</div>
        </div>
        <!--<div class="header-right disable-select">
          <div class="header-dot"></div>
          <div class="header-dot"></div>
        </div>-->
      </div>
    </div>
    <div class="wrapper">
      <div class="welcome-holder">
        <div class="yellow-box shadow">
          <div class="black-box shadow">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="arrow"></div>
          </div>
          <span class="welcome-text text-shadow">Signout Successfully</span>
          <span class="welcome-footer">&nbsp;</span>
        </div>
      </div>
      <div class="footer">
        <div class="right" (click)="navigateTo('/info')" >Info</div>
      </div>
    </div>
  </div>
</div>