.page-1,.page-2,.page-3{
    position: relative;
    height: 100%;
    margin: 0px auto;
}
.wrapper{
    position: relative;
    max-width: 800px;
    width: 90%;
    height: 100%;
    margin: 0px auto;
}
.shadow{
    box-shadow: 0px 15px 25px rgba(78, 77, 77, 0.5);
}
.text-shadow{
    text-shadow: 0px 5px 8px rgba(78, 77, 77, 0.5);
}
.form-holder{
    position:absolute;
    top:50%;
    margin:0 auto;
    width:100%;
    height:500px;
    background: white;
    clear: both;
    transform: translateY(-50%);
}
.welcome-holder{
    position:absolute;
    top:50%;
    margin:0 auto;
    width:100%;
    height:500px;
    clear: both;
    transform: translateY(-50%);
}
.yellow-box{
    position:relative;
    width:80%;
    height:100%;
    background: rgb(247, 247, 5);
    margin:0 auto;
    border-radius: 2px;
}
.black-box{
    position:relative;
    top:80px;
    margin:0 auto;
    width:100px;
    height:100px;
    border-radius: 70px;
    border-bottom-right-radius: 0px;
    background: black;
}
.arrow{
    position:absolute;
    bottom:-20px;
    right:0px;
    border-top: 0 solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(142, 144, 13);
}
.welcome-text{
    position: relative;
    top:150px;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.label-text{
    position:relative;
    padding:40px 0px 10px 0px;
    display:block;
    box-sizing: border-box;
    color:#C8B3F7;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    margin:0 auto;
    text-align:left;
}
.align-center{
    margin:0 auto;
    text-align: center;
}
.input-text{
    position:relative;
    padding:0px 0px 10px 0px;
    display:block;
    box-sizing: border-box;
    font-size: 20px;
    width:80%;
    margin:0 auto;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}
.input-radio{
    margin:8px 20px 0px 10px;
}
.radio-holder{
    position:relative;
    padding:0px 0px 10px 0px;
    margin:0 auto;
    width:80%;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.button{
    position:absolute;
    bottom:0px;
    width:100%;
    height:50px;
    background: rgb(247, 247, 5);
    text-align: center;
    color:black;
    line-height: 50px;
    cursor: pointer;
}
.button:active{
    color:rgb(247, 247, 5);
    background: black;
}
/*.button:active{
    color:black;
    background: #FFA500;
}*/
.button-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.footer{
    position: absolute;
    bottom:0px;
    width:100%;
    height:50px;
}
.left{
    position: relative;
    float:left;
    bottom:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.right{
    position: relative;
    float:right;
    bottom:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.photo-holder{
    position:relative;
    width:80%;
    margin:30px auto 0px auto;
}
.photo{
    position:relative;
    width:100px;
    height:100px;
    border-radius: 3px;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
.photo-text{
    position: absolute;
    right:50px;
    top:42%;
    text-decoration: underline;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.photo-final{
    border-radius: 60px;
    margin:0 auto;
}
.profile-name{
    position:relative;
    display:block;
    padding:30px 0px;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width:93px;
}

li {
    display: inline-block;
    width: 10px;
    height:10px;
    background:black;
    border-radius: 5px;
    margin:0 10px;
    cursor: pointer;
}
.white{
    background: white;
    box-shadow: 0px 4px 4px rgba(78, 77, 77, 0.5);

}
.welcome-footer{
    position:absolute;
    bottom:0px;
    display:block;
    box-sizing: border-box;
    color:#C8B3F7;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    margin:0 auto;
    text-align:center;
    background: black;
    border-radius: 0px;
}
.line-1{
    position:absolute;
    left:20px;
    top:34px;
    width:60px;
    height:9px;
    background: white;
    border-radius: 3px;
}
.line-2{
    position:absolute;
    left:20px;
    top:54px;
    width:40px;
    height:9px;
    background: white;
    border-radius: 3px;
}
.start{
    position:relative;
    top:200px;
    display:block;
    background: black;
    margin:0 auto;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    text-align: center;
    line-height:30px;
    width:150px;
    height:30px;
    cursor: pointer;
}
.start:active{
    background: white;
    color:black;
}
/*.start:active{
    background: #FFA500;
    color:black;
}*/
.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.header{
    position:absolute;
    width:100%;
    height:55px;
    top:0px;
    z-index:1;
}
.header-holder{
    position: relative;
    width:100%;
    height:100%;
    margin:0 auto;
    max-width: 800px;
    background: black;
}
.header-left{
    position:absolute;
    width:60px;
    height:100%;
    cursor: pointer;
}
.header-left-text{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    color:white;
    text-align:center;
    font-size: 25px;
}
.header-dot{
    position: absolute;
    top:17px;
    left:27px;
    width:5px;
    height:5px;
    background: white;
    border-radius: 3px;
}
.header-dot:first-child{
    top:32px;
}
.header-center{
    position:absolute;
    left:60px;
    width:calc(100% - 120px);
    height:100%;
    text-align:center;
}
.header-message{
    position: relative;
    text-align: center;
    width:100%;
    height:auto;
    color:grey;
    top:50%;
    transform: translateY(-50%);
}
input.message{
    width:100%;
    height:100%;
}
.header-right{
    position:absolute;
    width:60px;
    height:100%;
    right:0px;
    line-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.options-list{
    position: absolute;
    right:0px;
    top:60px;
    width:120px;
    height:50px;
}
.options-item{
    width:100%;
    height:50px;
    line-height:50px;
    cursor: pointer;
    padding:0px 10px 0px 10px;
    margin-top:5px;
    background: white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 18px;
    text-align:center;
}
.options-item:hover{
    background:black;
    color:white;
}

